.notice {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, white, ivory);
  color: black;
  width: 285px;
  left: 4px;
  text-decoration: none;
  padding: 4px 6px;
  position: relative;
  display: inline-block;
  border: 2px;
  border-radius: 2px;
  border-color:black ;
  font-size: 11px;
  text-align: left;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.white {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, white, ivory);
  color: black;
  text-decoration: none;
  padding: 4px 6px;
  position: relative;
  display: inline-block;
  border: 2px;
  border-radius: 2px;
  border-color:black ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.blue {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #35aee8, #354be8);
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color:white ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.red {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #F44336, #D32F2F);
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color:white ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.green {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #26A69A, #00897B);
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color:white ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.yellow {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #FFCA28, #FFB300);
  color: black;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color:white ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


.purple {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #AB47BC, #E040FB);
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color:white ;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}




/* go to top */ 
#myBtn 
{
position: fixed;
top: 0%;
right: 0%;
z-index: 99;
font-size: 12px;
border-radius: 0%;
  
border: 0;
outline: none;
  
background-color: #00e676;
color: yellow;
cursor: pointer;
padding: 8.5px;
transition: .155s;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.0);  
}
#myBtn:after {
  content: "";
  background: white;
  
  display: block;
  position: absolute;
  padding-top: 150%;
  padding-left: 200%;
  margin-left: -8px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.75s
}

#myBtn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}



/* search button */ 
#ptBtn 
{
font-family: 'hind', sans-serif;
position: fixed;
top: 0%;
right: 35px;
width: 45px;	
z-index: 99;
font-size: 30px;
border-radius: 0%;
font-size: 11px;  
border: none;
outline: none;
background-color: #00e676;
color: red;
cursor: pointer;
padding: 8.5px;
transition: .155s;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.0);
}






/* tk logo button */  
#myBtnn 
{
position: fixed;
top: 0%;
left: 0%;
width:75px;  
z-index: 99;
text-align: center;  
border-radius: none;
border: none;
outline: none;
background-color: #ff3a3a;
color: white;
cursor: pointer;
padding: 5.1px;
opacity: 1;
filter: alpha(opacity=10);  
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}
#myBtnn:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 120%;
  padding-left: 120%;
  margin-left: -8px!important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.75s
}

#myBtnn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}







/* fixed header */ 
.logo 
{
position: fixed;
top: 0px;
right: px;
z-index: 11;
font-size: 13px;
border-radius: 0%;
border: 0;
outline: 0;
background-color: blue;
background-image: linear-gradient(to right, #35aee8, #354be8);
color: white;
cursor: pointer;
padding: 12px;
width: 100%;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}


/* side navigation */
.alert 
{
padding: 1px;
background-color:white;
color: black;
opacity: 1;
scrollbar: 0;
width: 300px;
height: 85%;
z-index: 1100000000;
}

.alert.success 
{
background-color: black;
}

.closebtn 
{
font-size: 1px;
line-height: 10px;
cursor: pointer;
transition: 1s;
}

.closebtn:hover 
{
color: black;
}
a, u 
{
text-decoration: none;
Color: black;
}
	
/* Side navigation */             
.sidenav 
{
height: 103%;
background-color:white ;
width:0;
position: fixed;
padding: 0px;
top: -30px;
left: 0px;
overflow-x: hidden;
transition: .25s;
padding-top: 28px;
font-size: 10px;
left: 0px;
z-index: 10000;  
}



.sidenav .closebtn1 
{
position: absolute;
  background-color: ;
  text-align: center;
  border: 1;
  color: red;
  font-size: 50px;
  cursor: pointer;
  left: 300px;
  top: 30px;
  width: 33px;
  height: 34px;
  border-radius: 5px;
}

.belbtn 
{
background-color: red;
border: none;
color: white;
padding: 10px;
font-size: 15px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}

.belbtn1 
{
background-color: #09f;
border: none;
border-radius: 10px;
color: white;
padding: 12px;
font-size: 12px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}
.belbt1 
{
background-color: red;
border: none;
color: white;
padding: 5px;
font-size: 15px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}
                     

.header 
{
font-family: "hind", sans-serif;
position:fixed ;
bottom: 0;
z-index: 1;
width: 100%;
background-color:white ;
}

.header h2 
{
font-family: "hind", sans-serif;
text-align: center;
}

/* Scroll Bar */    
.progress-container 
{
width: 100%;
height: 6px;
background: yellow;
-webkit-transition-duration: 0.5s;
}

.progress-bar 
{
height: 6px;
background: #009540;
width: 0%;
-webkit-transition-duration: 0.5s;
}
		      
}
/* Twitter News Content */

@media screen and (min-width: 100px) {
.content 
{
font-family: "hind", sans-serif;  
position: relative;
align: ;
padding: 20px 0px;
margin: 0px auto 0 auto;
height: 90%;
width: 300px;  
font-size: 10px; 
text-align: ;    
}
}

@media screen and (min-width: 650px) {
.content 
{
font-family: "hind", sans-serif;  
position: relative;
align: ;  
padding: 20px 0px;
margin: 0px auto 0 auto;
width: 75%;
height: 90%;
font-size: 10px; 
text-align: ;   
}
}

@media screen and (min-width: 950px) {
.content 
{
font-family: "hind", sans-serif;  
position: relative;
align: ;  
padding: 20px 0;
margin: 0px auto 0 auto;
width: 60%;
height: 90%;
font-size: 10px;
text-align: ;   
}
}
 
{
box-sizing: border-box
}

/* Set height of body and the document to 100% */
body,
html 
{
height: 99%;
width: 99%;
font-size: 10px;  
margin: 0px;
align: center;  
highlightme { background-color:#FFFF00; }  
-webkit-transition-duration: 1.75s;
}

.btt1 
{
font-family: "Acme", sans-serif;
text-align: center;
width: 60%;
-webkit-transition-duration: 1.75s; 
}

.btt 
{
font-family: "Acme", sans-serif;
background-color: red;
color: white;
border: 0;
cursor: pointer;
text-align: left;
width: 8px;
-webkit-transition-duration: 0.4s;
/* Safari */
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
border-radius: 4px;
font-size: 15px;
}

.btt:hover 
{
background-color: ;
color: black;
font-family: "Acme", sans-serif;
}
              
/* Style tab links */ 
.tablink 
{
font-family: "Lato", sans-serif;
background-color: black;
color: white;
align: center;
float: left;
border: none;
outline: none;
padding: 6px;
font-size: 10px;
width: 20%;
webkit-transition-duration: .5s;
opacity: 0.9;
filter: alpha(opacity=10);
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);  
}

.tablink:after {
  content: "";
  background: silver;
  display: block;
  position: absolute;
  padding-top: 100px;
  padding-left: 20%;
  margin-left: -5px!important;
  margin-top: -50px;
  opacity: 0;
  transition: all 0.5s
}

.tablink:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


@media screen and (min-width: 600px) 

{
.tablink 
{
font-family: "Acme", sans-serif;
background-color: black;
color: white;
align: center;
float: left;
border: none;
outline: none;
padding: 8px;
font-size: 12px;
width: 20%;
webkit-transition-duration: .5s;
opacity: 0.9;
filter: alpha(opacity=10);
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);  
}
  
.tablink:hover {
  content: "";
  background: white;
  color: black;
}    
  
.tablink:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 100px;
  padding-left: 20%;
  margin-left: -5px!important;
  margin-top: -50px;
  opacity: 0;
  transition: all 0.5s
}  
.tablink:after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 100px;
  padding-left: 20%;
  margin-left: -5px!important;
  margin-top: -50px;
  opacity: 0;
  transition: all 0.5s
}

.tablink:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}  
  
  
  
}
}

.tablink:hover 
{
background-color: white;
font-family: "Acme", sans-serif;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent 
{
font-family: "Acme", sans-serif;
color:white ;
align: center;
display: none;
padding: 0px;

webkit-transition-duration: 0.75s;
webkit-animation: fadeEffect 3s;
animation: fadeEffect 3s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (min-width: 600px) 
{
.tabcontent 
{
font-family: "hind", sans-serif;
color: white;
display: none;
padding: 0px 0px;

webkit-transition-duration: 0.15s;
webkit-animation: fadeEffect 1s;
animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
}
}

body 
{
font-family: "hind", sans-serif;
font-size: 15px;
-webkit-transition-duration: 1.75s;
}
              

		      		                    
               
/* Search Box */             
.ptmodal 
{ 
display: none; z-index: 100; 
padding-top: 0px; 
right: 0%; top: 0px; width: 100%; height: 99%;  
-webkit-transition-duration: 1.75s;
overflow: auto; background-color:  ; 
position: fixed;
}

{
.ptmodal 
{ 
display: none; z-index: 100; 
padding-top: 5px; 
right: 0%; top: -5; width: 400px; height: 99%;
-webkit-transition-duration: 1.75s;
overflow: auto; background-color: ; 
position: fixed;
}
}
.ptmodal-content 
{ 
font-family: "hind", sans-serif;  
right: 99%; top: 30px;  
background-color:white ; margin: auto; 
padding: 1px; border: 1px solid #888; 
width: 99%;height: 99%;font-size: 9px;
-webkit-transition-duration: 1.75s; display: block;
}
.close1 
{ 
color: red; float: right ; font-size: 45px;  font-weight:bold;  top: 5;
}
.close1:hover,
.close1:focus 
{ 
color: #000; text-decoration: none; cursor: pointer;
}

@media screen and (min-width: 600px) 
{
.ptmodal 
{ 
display: none; z-index: 100; 
padding-top: 5px; 
right: 0%; top: -5; width: 400px; height: 99%;
-webkit-transition-duration: 1.75s;
overflow: auto; background-color: ; 
position: fixed;
}
}
.ptmodal-content 
{ 
font-family: "hind", sans-serif;  
right: 99%; top: 30px;  
background-color:white ; margin: auto; 
padding: 1px; border: 1px solid #888; 
width: 99%;height: 99%;font-size: 9px;
-webkit-transition-duration: 1.75s; display: block;
}
.close1 
{ 
color: red; float: right ; font-size: 45px;  font-weight:bold;  top: 5;
}
.close1:hover,
.close1:focus 
{ 
color: #000; text-decoration: none; cursor: pointer;
}



/* ribbon css starts here */
.panel 
{
padding: 0 2px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
} 


.ribbon 
{
top: 20px;
left: 5%;right:5%;
font-family: "hind", sans-serif;
font-size: 9px !important;
width: 85%;
position: absolute; /* float - for floating ribbon */
background: #9900ab;
background-image: linear-gradient(to right, #8000ab, #ad02cc);
color: yellow;
text-align: center;
margin: 1em auto 1em; 
z-index: 1;  
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}

@media screen and (min-width: 650px) 
{
.ribbon 
{
top: 20px;
left: 21.5%;
right: 23%;  
font-family: "hind", sans-serif;
font-size: 8.4px !important;
width: 300px;
position: absolute; /* float - for floating ribbon */
background: #9900ab;
background-image: linear-gradient(to right, #8000ab, #ad02cc);
color: yellow;
text-align: center;
margin: 1em auto 1em;  
box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}
}
/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */


.ribbon:before, .ribbon:after 
{
font-family: "hind", sans-serif;
content: " ";
position: absolute;
display: block;
bottom: -1em;
border: 1em solid #9900ab;
z-index: 100000;
}


.ribbon:before 
{
left: -2em;
border-right-width: 1.5em;
border-left-color: transparent;
}
.ribbon:after 
{
right: -2em;
border-left-width: 1.5em;
border-right-color: transparent;
}

/*contact button in ribbon*/
.contact 
{
font-family: "hind", sans-serif;
background-color: white; 
border: none;
border-radious: 55px;
color: black;
font-size: 12px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
cursor: pointer;
height: 25px;
}

/*Ads. support button*/
.ads {
  position: relative;
  background-color: white;
  border: 0;
  border-color: black;
  font-size: 13px;
  color: black;
  top: 20px; 
  
  padding: 5px 5px;
  width: 100%;
  left: 1%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 650px) 
{
.ads {
  position: relative;
  background-color: white;
  border: 0;
  border-color: black;
  font-size: 13px;
  color: black;
top: 10px;

  padding: 5px 5px;
  width: 100%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
  
}



.ads:after {
  content: "";
  background: ;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.ads:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.shadow 
{
background-color: white;
color: black;
}

/*ad close button*/
.adclose 
{
font-family: "hind", sans-serif;
font-size: 13px;  
background-color: white; 
width: 90%;
padding: 3px 3px;
border: none;
border-radious: none;
color: black;
text-align: left;
text-decoration: bold;
cursor: pointer;
}


 /* next button */ 
#NxtBtn 
{
font-family: 'acme', sans-serif;
position: fixed;
bottom: 0%;
right: 0%;
z-index: 99;
font-size: 18px;
border-radius: 0%;
border: none;
outline: none;
background-color: #00e676;
color: cayan;
cursor: pointer;
padding: 7px;
transition: .155s;
}


/* previous button */  
#PrevBtn 
{
position: fixed;
bottom: 0%;
left: 0%;
z-index: 99;
font-size: 1px;
border-radius: none;
border: none;
outline: none;
background-color: red;
color: white;
cursor: pointer;
padding: 7px;
}

/* fixed title bottom */ 
.title 
{
font-family: 'acme', sans-serif;
position: fixed;
bottom: 0px;
right: 6px;
z-index: 3;
font-size: 13px;
border-radius: 0%;
border: 0;
outline: 0;
background-color: blue;
background-image: linear-gradient(to right, #35aee8, #354be8);
color: white;
cursor: pointer;
padding: 11px;
width: 100%;
opacity: 1;
filter: alpha(opacity=90);
}


/* fixed title bottom */ 
.scroll 
{
font-family: 'acme', sans-serif;
position: fixed;
bottom: 38px;
z-index: 3;
border-radius: 0%;
border: 0;
outline: 0;
color: white;
cursor: pointer;
padding: 0px;
width: 100%;
}


/* blog post Content */
.post 
{	
font-family: "acme", sans-serif;  
padding: 20px;
line-height: 20pt;
background-color:white;
color: black;
opacity: 1;
scrollbar: 0; 
font-size: 15px;                    
}

.goback 
{
font-family: "hind", sans-serif;
background-color: red; 
width: 15%;
padding: 7px ; 
border: none;
border-radious: none;
color: white;
text-align: center;
text-decoration: bold;
cursor: pointer;
text-decoration: none;  
}

  


.labl1 
{
font-family: "hind", sans-serif;
background-color: white; 
width: 99%;
padding: 3px ; 
border: none;
border-radious: none;
color: black;
text-align: left;
text-decoration: bold;
cursor: pointer;
text-decoration: none;  
font-size: 10px;  
}

.goback 
{
font-family: "hind", sans-serif;
background-color: red; 
font-size: 11px;   
width: 13%;
padding: 5px ;  
border: none;
border-radious: none;
color: white;
text-align: center;
text-decoration: bold;
cursor: pointer;
}
  
  
/*ad close button*/
.whatsapp 
{
font-family: "hind", sans-serif;
background-color: green; 
width: 20px;
padding: 3px 3px;
border: none;
border-radious: none;
color: white;
text-align: left;
text-decoration: bold;
cursor: pointer;
}

.quips {
  position: relative;
  background-color: white;
  border: 1;
  border-color: black;
  font-size: 11px;
  color: black;
  top: -1px; 
  left:2.5%;
  padding: 5px 5px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}





.chat {
  background-color: white;
  color: red;
  position: fixed;
  bottom: 57px;
  right: -8px;
  width: 90%;
  cursor: pointer;
  padding: 3px;
  width: 45px;
  border: none;
  text-align: center;
  outline: 0;
  font-size: 14px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 15%;
}
.chat:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.chatpanel {
  font-family: "hind", sans-serif;
  padding: 15px;
  position: fixed;
  width: 55%;
  right: 5px;
  bottom: 105px;
  display: none;
  background-color: #2B2B2B;
  color: white;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99999;
}

@media screen and (min-width: 600px) 
{
.chat {
  background-color: white;
  color: red;
  position: fixed;
  bottom: 60px;
  right: -8px;
  width: 90%;
  cursor: pointer;
  padding: 3px;
  width: 45px;
  border: none;
  text-align: center;
  outline: 0;
  font-size: 14px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 2px;
}  
.chat:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.chatpanel {
  font-family: "hind", sans-serif;
  padding: 15px;
  position: fixed;
  text-align: left;
  width: 55%;
  right: 5px;
  bottom: 105px;
  display: none;
  background-color: #2B2B2B;
  color: white;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99999;
}
}

.power {
  font-family: "hind", sans-serif;
  background-color: white;
  position: fixed;
  bottom: 55.5px;
  left: 1px;
  padding: 6px;
  width: 96%;
  border: 0;
  text-align: left;
  outline: 0;
  font-size: 9px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 0px;
  opacity: 0.9;
  filter: alpha(opacity=10);  
  }  

@media screen and (min-width: 600px) 
{
.power {
  font-family: "hind", sans-serif;
  background-color: white;
  position: fixed;
  bottom: 61.5px;
  left: 1px;
  text-align: center;
  padding: 3px;
  width: 99%;
  border: 0;
  outline: 0;
  font-size: 9px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 0px;  
  opacity: 0.9;
  filter: alpha(opacity=10);  }  
}

.searchtag {
  font-family: "hind", sans-serif;
  background-color: white;
  position: fixed;
  bottom: 38px;
  left: -1px;
  
  padding: 11px;
  width: 88%;
  height: 39px;
  border: 0;
  text-align: left;
  outline: 0;
  font-size: 9px;

  z-index: 1;
  border-radius: 0px;
  opacity: 0.9;
  filter: alpha(opacity=10);  
}  

@media screen and (min-width: 600px) 
{
.searchtag {
  font-family: "hind", sans-serif;
  background-color: white;
  position: fixed;
  bottom: 36px;
  left: -1px;
  
  padding: 9px;
  width: 100%;
  height: 18px;
  border: 0;
  text-align: center;
  outline: 0;
  font-size: 9px;

  z-index: 1;
  border-radius: 25px;
  opacity: 0.9;
  filter: alpha(opacity=10);  
}  
}







#snackbar {
  font-family: "hind", sans-serif;
  visibility: hidden;
  width: 100%;
  top: 90px;
  background-color: ;
  color: black;
  text-align: center;
  left: 0%;
  right: 0%;
  border-radius: 2px;
  position: fixed;
  z-index: 99999;
  font-size: 12px;
  height: 1px;
  transition: max-height 0.2s ease-out;
  box-shadow: 0 5px 5px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 2s, fadeout 2s 2s;
  animation: fadein 2s, fadeout 2s 2s;
}

.clock {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #F44336, #D32F2F);
  color: white;
  position: fixed;
  bottom: 89px;
  right: 5px;
  width: 110px;
  cursor: pointer;
  padding: 3px;
  border: 2;
  text-align: center;
  outline: 2;
  font-size: 9px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 2px;
}

@media screen and (min-width: 750px) 
{
.clock {
  font-family: "hind", sans-serif;
  background-image: linear-gradient(to right, #F44336, #D32F2F);
  color: white;
  position: fixed;
  bottom: 67px;
  right: 35px;
  width: 110px;
  cursor: pointer;
  padding: 3px;
  border: 2;
  text-align: center;
  outline: 2;
  font-size: 9px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 2px;
}
}



.sbody
{
height: 99%;
width: 99%;
font-family: "hind", sans-serif;  
font-size: 10px;  
margin: 0px;
align: center;  
highlightme { background-color:#FFFF00; }  
-webkit-transition-duration: 1.75s;
}
