
<style>
* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 7px;
  margin-top: -18px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: red;
  border-radius: 5px;

}

/* Position the "next button" to the right */
.next {
  right: 0;
}/* Position the "next button" to the right */

.prev {
  left: 0;
}

.aa {
  font-family: "hind", sans-serif;
  background-color: gold;
  color: black;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
}
  
.bb {
  font-family: "hind", sans-serif;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 11px;
  border-radius: 5px;
}   
  
.cc {
  font-family: "hind", sans-serif;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 11px;
  border-radius: 5px;
} 

.aa1 {
  font-family: "hind", sans-serif;
  background-color: gold;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}
  
.bb1 {
  font-family: "hind", sans-serif;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 12px;
  border-radius: 5px;
}   
  
.cc1 {
  font-family: "hind", sans-serif;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  border-color: black;
  font-size: 12px;
  border-radius: 5px;
}  

.radio {
  font-family: "hind", sans-serif;
  background-color: #2B2B2B;
  color: black;
  position: fixed;
  bottom: 5px;
  right: 0px;
  cursor: pointer;
  padding: 5px;
  width: 236px;
  border: 10;
  border-color: white;
  text-align: center;
  outline: 0;
  font-size: 15px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 2px;
}


.play {
  font-family: "hind", sans-serif;
  background-color: ;
  color: white;
  position: fixed;
  bottom: 40px;
  left: -13px;
  cursor: pointer;
  padding: 7px;
  width: 250px;
  border: none;
  text-align: center;
  align: center;
  outline: 0;
  font-size: 15px;
  transition: 0.4s;
  z-index: 1;
  border-radius: 2px;
}

</style>